<div class="login-body">
  <section class="login-validation__container">
    <div class="alert alert-danger slide-in-top" role="alert"
      *ngIf="formLogin.status === 'INVALID' && isValidatedForm">
      <img src="/assets/img/x.svg" alt="danger" width="24" height="24" title="Bootstrap">
      Digite seu email e senha
    </div>
    <div class="alert alert-success slide-in-top" role="alert"
      *ngIf="formLogin.status === 'VALID' && isValidatedForm">
      <img src="/assets/img/check.svg" alt="success" width="24" height="24" title="Bootstrap">
      Você foi logado com sucesso
    </div>
  </section>
  <section class="login-form__container">
    <div class="card container slide-in-bottom">
      <div class="card-body">
        <h3 class="login-title">Entrar na minha conta</h3>
        <form [formGroup]="formLogin">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                aria-describedby="basic-addon2" formControlName="email">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <img src="/assets/img/person-fill.svg" alt="" width="20" height="20" title="Bootstrap">
              </span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha" aria-label="Snha"
                aria-describedby="basic-addon2" formControlName="password">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <img src="/assets/img/shield-lock-fill.svg" alt="" width="20" height="20" title="Bootstrap">
              </span>
            </div>
          </div>
          <div class="login-button__container">
            <button type="button" class="btn btn-primary" (click)="onValidateForm()">Entrar</button>
          </div>
          <div class="login-link__container">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Mantenha-me conectado
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="login-info__container">
    <!-- <a><a href=""></a></p> -->
  </section>
</div>