/** Breakpoints **/

$xxs: 340px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --background-color: #fefefe;
    --background-color-1: #f8f8f8;
    --background-color-2: #5fdf9e;
    --background-color-3: #ef7575;

    --font-color: #939797;
}